<html>

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <title>Hall Of Fame</title>
</head>

<body>
   <div class="center">
      <form action="{{ url_for('get_fotos') }}" method="POST"> <!-- manda la informacion a la variable de python -->
         <h3>Fotos</h3>

         De que quieres ver fotos? <br>
         <select name="foto">
            <option value="deporte">deporte</option>
            <option value="music">music</option>
            <option value="ciencia">ciencia</option>
          </select><br>

         <input type="submit" value="submit" /><br>
      </form>
   </div>
   <a href="/">Pagina principal</a>
</body>

</html>