<html>

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <title>Hall Of Fame</title>
</head>

<body>
   <div class="center">
      <form action="{{ url_for('addrecsport') }}" method="POST">
         <h3>Athlete</h3>
         Name<br>
         <input type="text" name="nm" /></br>

         Sport<br>
         <select name="sport">
            <option value="Football">Football</option>
            <option value="F1">F1</option>
            <option value="MotoGP">MotoGP</option>
            <option value="Basket">Basket</option>
            <option value="Boxing">Boxing</option>
            <option value="swimming">swimming</option>
            <option value="Cycling">Cycling</option>
            <option value="Tennis">Tennis</option>
            <option value="Judo">Judo</option>
            <option value="Karate">Karate</option>
            <option value="Track">Track</option>
            <option value="Golf">Golf</option>
          </select><br>

         Team<br>
         <input type="text" name="team" /><br>

         trofeos<br>
         <input type="number" name="trofeos" /><br>
         <input type="submit" value="submit" /><br>
      </form>
   </div>
</body>

</html>